{
  "extends": ["plugin:prettier/recommended"],
    "endOfLine": "auto",
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "arrowParens": "avoid",

    "plugins": ["prettier-plugin-tailwindcss"]
  }
